.dayry {
  background: #2b2f3e;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  min-width: 140px;
  max-width: 150px;

  @media screen and (min-width: 960px) {
    max-width: 250px;
  }
}

.text {
  color: #5b5d63;
}
