//.container {
//  display: flex;
//  justify-content: space-around;
//  margin:  0 auto;
//  flex-wrap: wrap;

  .container {
  //max-width: 1000px;
    //width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    //gap: 20px;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 1200px) {

      max-width: 12000px;


    }
    @media (min-width: 992px) {
        //max-width: 960px;
        flex-direction: row;

    }
    @media (min-width: 768px) {
      .container {
        max-width: 720px;
      }
    }
    @media (min-width: 576px) {
      .container {
        max-width: 540px;
      }
    }
  }

